<h2>Estimates</h2>
<ul>
  <li>{{link-to '30 Day Transformation' 'estimate.tasks' '30-day-transformation'}}</li>
  <li>{{link-to 'Fragd' 'estimate.tasks' 'fragd'}}</li>
  <li>{{link-to 'Fashion Style Mag' 'estimate.tasks' 'fashion-style-mag'}}</li>
</ul>
{{outlet}}
