<h2>Estimates</h2>

<ul>
  <li>
    {{input type="text" class="new-band" placeholder="New band" value=title}}
    <button {{action "createEstimate"}}>Add</button>
  </li>
  {{#each model as |estimate|}}
    {{estimate-item estimate=estimate on-fav-clicked='favoriteClicked'}}
  {{/each}}
</ul>
{{outlet}}
